.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.orange{
  background-color: orange
}

.purple{
  background-color: purple;
}


.gray{
  background-color: lightgrey;
}

.aqua{
  background-color: aqua;
}

.dodge{
  background-color: dodgerblue;
}

.finished{
  background-color: chocolate;
}