.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.orange{
  background-color: orange
}

.purple{
  background-color: purple;
}

#main-title{
  text-align: center;
}
